.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
        your background is light. */
    color: white;
    background: #4085A2;
}
.layout-transparent .mdl-textfield__label {
    position: static;
}

.mdl-cell.align-center {
    text-align: center;
}

.mdl-cell.align-center label {
    margin-top: 10px;
}

button#add-participant,
button#create {
    margin-top: 10px;
    margin-bottom: 20px;
}

#view-loading {
    display: none;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.vertical-center-minus-header {
    top: 50%;
}