<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Amigo Secreto</title>
  <!-- Material Lite -->
  <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
  <script src="bower_components/material-design-lite/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- jquery -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

  <!-- custom style -->
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <div class="layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Amigo Secreto</span>
        <!-- Add spacer, to align navigation to the right -->
      </div>
    </header>

    <main class="mdl-layout__content">
      <div class="mdl-grid vertical-center vertical-center-minus-header" id="view-loading">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col align-center">
          <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate">
          </div>
        </div>
        <div class="mdl-layout-spacer"></div>
      </div>

      <div class="mdl-grid" id="view-sorteado">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col align-center">
          <h3 id="title-amigo-secreto">Olá, {{name}}, você tirou</h3>
          <h2 id="title-amigo-secreto-sorteado">{{name}}</h2>

        </div>
        <div class="mdl-layout-spacer"></div>
      </div>
    </main>
  </div>

  <script type="text/javascript" src="script/utils.js"></script>
  <script type="text/javascript" src="script/quem_tirei.js"></script>
</body>
</html>